= form_for @stock, :html => { :class => "form-horizontal" } do |f|
  -if @stock.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"

      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg

  %h2= @stock.product.name


  = f.hidden_field :product_id
  = f.fields_for :stock_fields do |ff|
    = ff.hidden_field :product_field_id

    - case ff.object.product_field.field_type
    - when "float"
      = ff.label :float_value, ff.object.product_field.name
      = ff.text_field :float_value
      (Float)
    - when "string"
      = ff.label :string_value, ff.object.product_field.name
      = ff.text_field :string_value
      (String)
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
