.page-header
  =link_to new_product_stock_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Stock
  %h1 Listing stocks

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th ID
        %th Qty
        - @product.product_fields.each do |product_field|
          %th= product_field.name
        %th Product Type
        %th
        %th
        %th

    %tbody
      - @stocks.each do |stock|
        %tr
          %td= link_to stock.id, product_stock_path(@product,stock)
          %td
            = stock.remaining_quantity
            = stock.quantity_unit
          - @product.product_fields.each do |product_field|
            %td
              = stock.stock_fields.where(product_field: product_field).first.try(:string_value) || stock.stock_fields.where(product_field: product_field).first.try(:float_value)
              = product_field.unit
          %td= stock.product.name
          %td= link_to 'Show', product_stock_path(@product,stock)
          %td= link_to 'Edit', edit_product_stock_path(@product,stock)
          %td= link_to 'Destroy', product_stock_path(@product,stock), :data => { confirm: 'Are you sure?' }, :method => :delete
