.page-header
  = link_to product_stocks_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_product_stock_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show stock

%dl.dl-horizontal
  %dt Product:
  %dd= @stock.product

  =link_to new_deposit_path(stock_id: @stock.id), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Deposit Stock

  %table.table
    %tr
      %th Field
      %th Value
      %th Unit
      - @stock.stock_fields.each do |stock_field|
        %tr
          %td= stock_field.product_field.name
          %td
            - case stock_field.product_field.field_type
            - when 'float'
              = stock_field.float_value
          %td= stock_field.product_field.unit
