.page-header
  = link_to product_stocks_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_product_stock_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show stock


=link_to new_deposit_path(stock_id: @stock.id), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  Deposit Stock

=link_to new_withdraw_path(stock_id: @stock.id), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  Withdraw Stock

%h2
  Remaining Quantity
  = @stock.remaining_quantity
  {{unit}}

%h4 Product #{@stock.product.name}
%table.table
  %tr
    %th Field
    %th Value
    %th Unit
    - @stock.stock_fields.each do |stock_field|
      %tr
        %td= stock_field.product_field.name
        %td
          - case stock_field.product_field.field_type
          - when 'float'
            = stock_field.float_value
        %td= stock_field.product_field.unit

.row
  #deposits.col-sm-6
    %h3 Deposits

    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Qty
            %th Ordered at
            %th Arrived at
            %th Remarks
            %th Stock
            %th
            %th
            %th

        %tbody
          - @stock.deposits.each do |deposit|
            %tr
              %td= deposit.quantity
              %td= deposit.date_ordered
              %td= deposit.arrival_date
              %td= deposit.remarks
              %td= deposit.stock.id
              %td= link_to 'Show', deposit
              %td= link_to 'Edit', edit_deposit_path(deposit)
              %td= link_to 'Destroy', deposit, :data => { confirm: 'Are you sure?' }, :method => :delete



  #withdraws.col-sm-6
    %h3 Withdraws

    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Qty
            %th Ordered At
            %th Arrived at
            %th Remarks
            %th Stock
            %th
            %th
            %th

        %tbody
          - @stock.withdraws.each do |withdraw|
            %tr
              %td= withdraw.quantity
              %td= withdraw.date_ordered
              %td= withdraw.arrival_date
              %td= withdraw.remarks
              %td= withdraw.stock.id
              %td= link_to 'Show', withdraw
              %td= link_to 'Edit', edit_withdraw_path(withdraw)
              %td= link_to 'Destroy', withdraw, :data => { confirm: 'Are you sure?' }, :method => :delete



