.page-header
  = link_to new_stock_template_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Stock template
  %h1 Listing stock_templates

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @stock_templates.each do |stock_template|
        %tr.stock_template_item
          %td= stock_template.name
          %td= link_to 'Show', stock_template
          %td= link_to 'Edit', edit_stock_template_path(stock_template)
          %td= link_to 'Destroy', stock_template, :data => { confirm: 'Are you sure?' }, :method => :delete
