.page-header
  = link_to withdraws_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_withdraw_path(@withdraw), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show withdraw

%dl.dl-horizontal
  %dt Quantity:
  %dd= @withdraw.quantity
  %dt Date ordered:
  %dd= @withdraw.date_ordered
  %dt Arrival date:
  %dd= @withdraw.arrival_date
  %dt Remarks:
  %dd= @withdraw.remarks
  %dt Stock:
  %dd= @withdraw.stock
