= form_for @template_field, :html => { :class => "form-horizontal" } do |f|
  -if @template_field.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@template_field.errors.count, "error")} prohibited this template_field from being saved:"

      %ul
        - @template_field.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :stock_template, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :stock_template_id, options_from_collection_for_select(StockTemplate.all, :id, :name),  :class => 'col-sm-2 form-control'
  .form-group
    = f.label :name, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :unit, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :unit, :class => 'form-control'
  .form-group
    = f.label :field_type, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :field_type, TemplateField::TYPES, :class => 'col-sm-2 form-control'
  .form-group
    = f.label :counter, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :counter, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
