.page-header
  = link_to new_template_field_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Template field
  %h1 Listing template_fields

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Unit
        %th Field Type
        %th Counter
        %th Product
        %th
        %th
        %th

    %tbody
      - @template_fields.each do |template_field|
        %tr
          %td= template_field.name
          %td= template_field.unit
          %td= template_field.counter
          %td= template_field.field_type
          %td= template_field.product.name
          %td= link_to 'Show', template_field
          %td= link_to 'Edit', edit_template_field_path(template_field)
          %td= link_to 'Destroy', template_field, :data => { confirm: 'Are you sure?' }, :method => :delete
