.page-header
  = link_to template_fields_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_template_field_path(@template_field), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show template_field

%dl.dl-horizontal
  %dt Name:
  %dd= @template_field.name
  %dt Unit:
  %dd= @template_field.unit
  %dt Counter:
  %dd= @template_field.counter
  %dt Stock template:
  %dd= @template_field.stock_template
